body{
    background-color:black;
}

.avatar{
 vertical-align: middle;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: relative;
  bottom:5px;
  left: 20px;
  right: 10px;
  

}
#mainheading{

    background-color:#262626;
    position:static;
    padding:12px 12px 12px 12px;

}
input[type=text] {
    width: 180px;
    height: 33px;
    box-sizing: border-box;
    text-align: center;
    color:white;
    font-style: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #464646;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    left:28px;
    bottom:3px;
  }
  
  input[type=text]:focus {
    width: 20%;
  }
  #repo{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    position: relative;
    left:450px;
    bottom:3px;

  }
  #bell{
      color: white;
      padding: 12px 12px 12px 12px;
      position: relative;
      left:300px;
      bottom:5.5px;
  }
  #notification{
      color: white;
      font-size:15px;
      position: relative;
      left:180px;
      top:30px;
      padding: 12px 12px 12px 12px;
      border:12px;
      border-color: black;
      margin:12px;
    
  }
  #sidepanel{
         height: 500px;
         border: 200px;;
    
        width: 320px;
        padding: 10px;
        background-color: #262626;;
        
      
  }
  #userInfo{
      background-color:red;
      color:white;
      font-size:5px;
  }