body{
    background-color:black;
}

.avatar{
 vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  bottom:5px;
  left: 50px;
  right: 10px;
  

}

input[type=text] {
  height: 40px;
  width:200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  position: relative;
  top:0px;
  left:53px;;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 25%;
}
#sidepanel{
   height: 500px;
   border: 200px;
  width: 320px;
   padding: 10px;
  background-color: #262626;;
        
      
  }
  #tophead{
    box-sizing: border-box;
    color:white;
    font-style: 16px;
    border: 1px solid rgba(255,255,255,.25);
    background-color:#1a1a1a;; 
    background-repeat: no-repeat;
    padding: 20px 20px 20px 20px;
    
  }
  
  .my-col{
    box-sizing: border-box;
    color:white;
    font-style: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgba(255,255,255,.25);
    border-top: none;
    background-color:#1a1a1a;;
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    text-align: left;
   
  }
  .repo{
    text-align: center;
    background-color:#1a1a1a;
    border:none;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px 10px; 
    color: white;
    position: relative;
    left: 120px;
    right:20px;
    top:1px;
  }

 
  .sideimage{
    height:180px;
    width:180px;
    position: fixed;
    bottom: 20px;
    right: 20px;
 }
  #name{
    color:#d9d9d9;
    text-align:center;
    font-size:25px;
    position: relative;
    top:20px;
    left:0px;
    
  }
  #profilepic{
    vertical-align: middle;
    border-radius: 50%;
    color: black;
    
    position: relative;
    top:8px;
    bottom:5px;
    left: 100px;
    right: 10px;
    
  }
  span{
    color:#809fff;
    font-size:20px;
    float:left;
    position: relative;
    top:30px;
    left:150px;
    bottom:5px;
  }
  #main{
    box-sizing: border-box;
    color:white;
    font-style: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgba(255,255,255,.25);
    border-top: none;
    background-color:#1a1a1a;;
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding:20px,20px,20px,20px;
    
  }
 
  .reponames{
    position:relative;
    top:50px;
    left: 15px;
    font-size: 25px;
    color:#d9d9d9;
  
  }
  .branch{
    font-size: 20px;
    color:#809fff;
    position: relative;
    left:20px;
    border: 2px solid rgba(255,255,255,.25);
    border-radius: 5px;
    background-color: #262626;
    top:3px;

  }
  .deploy{
    font-size: 20px;
    color:#809fff;
    position: relative;
    left:132px;
    top:60px;
    
  }
  .language{
    font-size: 20px;
    color:#809fff;
    position: relative;
    top:100px;
    left:24px;
  }
  .work{
    font-size: 20px;
    color:#809fff;
    position: relative;
    bottom:250px;
    left:1150px;
    

  }
 
  .seprate{
    border-top: 1px solid rgba(255,255,255,.25);
    border-top: 1px solid rgba(255,255,255,.25);
    padding:12px,12px,12px,12px;
    background-color:black;
    opacity:0.9;
    

  }
  .dot{
    font-size: 20px;
    color:#809fff;
    position: relative;
    top:125px;
    left:0px;

  }
   .watchers{
    font-size: 20px;
    color:#809fff;
    position: relative;
    top:55px;
    left:350px;
    
    
  }
  .network{
    font-size: 20px;
    color:#809fff;
    position: relative;
    top:13px;
    left:1400px;
    

  }
  
 
  
  

  

  