body{
    background-color:black;
}

.avatar{
 vertical-align: middle;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: relative;
  bottom:5px;
  left: 20px;
  right: 10px;
  

}

input[type=text] {
    width: 180px;
    height: 33px;
    box-sizing: border-box;
    text-align: center;
    color:white;
    font-style: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #464646;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    left:28px;
    bottom:3px;
  }
  
  input[type=text]:focus {
    width: 20%;
  }
 
  #bell{
      color: white;
      padding: 12px 12px 12px 12px;
      position: relative;
      left:300px;
      bottom:5.5px;
  }
  #notification{
      color: white;
      font-size:15px;
      position: relative;
      left:180px;
      top:30px;
      padding: 12px 12px 12px 12px;
      border:12px;
      border-color: black;
      margin:12px;
    
  }
  #sidepanel{
         height: 500px;
         border: 200px;;
    
        width: 320px;
        padding: 10px;
        background-color: #262626;;
        
      
  }
  #tophead{
    box-sizing: border-box;
    color:white;
    font-style: 16px;
    border: 1px solid rgba(255,255,255,.25);
    background-color:#1a1a1a;; 
    background-repeat: no-repeat;
    padding: 20px 20px 20px 20px;
  }
  
  .my-col{
  
    box-sizing: border-box;
    color:white;
    font-style: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgba(255,255,255,.25);
    border-top: none;
    background-color:#1a1a1a;;
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    text-align: left;
  }
  #repo{
 
    text-align: center;
    background-color:#1a1a1a;
    font-style: 16px;
    font-family: 'Times New Roman', Times, serif;
    border:none;
    font-size: 16px;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    left: 300px;
    top:35px;
  }
  .sideimage{
    position: fixed;
    bottom: 0;
    right: 0;

  }
  i{
    color:white;
  }
  #name{
    color:#666666;
    font-size:20px;
    font-family:times, "Times New Roman";
    text-align: center;
    position: relative;
    top:30px;
    left:170px;
    float:inline-end;
  }
  #profilepic{
    margin-left:150px;
    height:200px;
    width:200px;
    position: relative;
    border:5px;
    border-radius: 50%;
    top: 25px;;
    left: 5px;;
  }
  span{
    color:#66a3ff;
    font-size:20px;
    font-family:times, "Times New Roman";
    text-align: center;
    position: relative;
    top:30px;
    left:170px;
   
    
  }
  hr{
    color:blue;
    width:200px
  }


  

  